ul.social-network {
    list-style: none;
    padding: 0;
}

ul.social-network li{
    display: inline;
    margin: 0;
    padding: 1%;
}

.fa {
    font-size: 35pt;
    color: white;
    padding: 1%;
}

.fa-facebook-square:hover {
    color: blue;
}

.fa-instagram:hover {
    color: purple;
}

.fa-linkedin-square:hover {
    color: blue;
}