#img-bg{
    background-image: "blogPessoal/src/assets/img/thumb-1920-1014821.png";
    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}